/* Import Of Google Font */
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap');

/* Applies To All Of The Bootstrap Nav Bar */
.Navigation-Bar {
    background-color: #3b6d73 !important;
}

/* Applies To All Of The Bootstrap Nav Bar Links */
.Navigation-Link {
    font-family: 'Economica', sans-serif !important;
    font-size: 25px;
    color: white !important;
}
.Navigation-Link:hover {
    color: #fe6b6b !important;
}

/* Applies To The Nav Bar Toggler Button */
.navbar-toggler {
    border: none;
}

 /* Applies To The Branding On Nav Bar */
.Navigation-Decoration {
    font-family: 'Economica', sans-serif;
    color: white !important;
    padding: 0px;
    font-size: 30px;
}

/* Applies To The Background Image To Jumbotron Section */
.jumbotron {
    background-image: url(../Images/Jumbotron-Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

/* Applies To The Jumbotron Header */
.Jumbo-Header {
    color: #3b6d73;
    font-family: 'Economica', sans-serif;
    font-size: 100px !important;
    max-width: 80%;
    text-align: center !important;
    padding-left: 35%;
}

/* Applies To The Jumbotron Sub-Header */
.Jumbo-SubHeader {
    color: #3b6d73;
    font-family: 'Economica', sans-serif;
    font-size: 90px !important;
    max-width: 80%;
    text-align: center !important;
    padding-left: 37%;
}

/* Applies To The Jumbotron Button */
.Jumbo-Button {
    background-color: #3b6d73;
    border: 2px solid #3b6d73;
    color: white;
    font-family: 'Economica', sans-serif;
    font-size: 40px;
    position: relative;
    left: 50%;
}

/* Applies To The Jumbotron Button On Hover */
.Jumbo-Button:hover {
    background-color: #fe6b6b;
    border: 2px solid #fe6b6b;
    color: white;
}

/* Applies To The Jumbotron Button On Click */
.Jumbo-Button:on-click {
    background-color: #fe6b6b !important;
    border: 2px solid #fe6b6b !important;
    color: white !important;
    box-shadow: none !important;
}

/* Applies To Work Title Section */
.Work-Header {
    display:flex;
    align-items: center;
}

/* Applies To Work Section Decorative Line One */
.Work-Line-One {
    border-bottom: 10px solid #3b6d73;
    width: 5%;
    height: 5%;
}

/* Applies To Work Section Header */
.My-Work {
    font-size: 50px;
    color: #3b6d73;
    font-family: 'Economica', sans-serif;
    padding: 1%;
    text-align: center;
}

/* Applies To Work Section Decorative Line Two */
.Work-Line-Two {
    border-bottom: 10px solid #3b6d73;
    width: 75%;
    height: 5%;
}

/* Applies To Work Card */
.Work-Card {
    background-color: #f9fef9;
    border-radius: 15px;
    size: 100%;
    border: 5px solid #3B6D73;
    justify-content: space-around !important;
    align-items: center !important;
}

/* Relates To Work Card Images */
.Work-Card-Image {
    width: 80%;
    padding-top: 10px;
    position: center;
}

/* Applies To Work Card Heading */
.Work-Card-Heading {
    text-align: center;
    color: #fe6b6b;
    font-family: 'Economica', sans-serif;
    font-size: 30px;
}

/* Applies To Work Card Heading */
.Work-Card-SubHeading {
    text-align: center;
    color: #fe6b6b;
    font-family: 'Economica', sans-serif;
    font-size: 25px;
}

/* Applies To Work Card Button */
.Work-Card-Button {
    background-color: #3B6D73;
    border: 1px solid #3B6D73;
    box-shadow: 5px white;
    color: white;
    font-family: 'Economica', sans-serif;
    font-size: 25px;
    width: 100%;
}

/* Applies To Work Card On Hover */
.Work-Card-Button:hover {
    background-color: #fe6b6b;
    border: 1px solid #fe6b6b;
    color: white;
}

/* Media Query For Small Screen */
@media only screen and (max-width:576px) {
    .Jumbo-Header {
        display: none;
    }
    .Jumbo-SubHeader {
        display: none;
    }
    .Jumbo-Button {
        display: none;
    }
    .jumbotron {
        height: 400px;
    }
}

/* Media Query For Medium Screen */
@media only screen and (min-width:577px) and (max-width:1200px) {
    .Jumbo-Header {
        display: none;
    }
    .Jumbo-SubHeader {
        display: none;
    }
    .Jumbo-Button {
        display: none;
    }
    .jumbotron {
        height: 400px;
    }
}